* {
  box-sizing: border-box;
}

/*---Navigation---*/
.navigation {
  background-color: darkorange;
  width: 100%;
  height: 60px;
  font-size: 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navigation a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.4em;
  text-decoration: none;
  width: 20%;
}
.navigation a:hover {
  background-color: rgb(9, 9, 110);
  display: inline-block;
  height: 60px;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 20%;
}
/*main body*/
div.heading {
  color: white;
}
img.topicimg {
  position: relative;
  width: 100%;
  height: 700px;
  filter: sepia(50%);
  object-fit: cover;
}
div.topictext {
  position: absolute;
  top: 99%;
  left: 49.9%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 100%;
  font-size: large;
  font-weight: 300;
}

.message {
  text-align: center;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 50%;
  position: absolute;
  right: 28%;
  top: 30%;
  width: 45%;
  font-size: 2em;
  border-radius: 20px;
  padding-bottom: 10px;
  transition: 300ms;
}
div.message:hover {
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: rgba(8, 38, 109, 0.8);
  bottom: 50%;
  position: absolute;
  right: 28%;
  top: 30%;
  width: 45%;
  font-size: 2em;
  border-radius: 30px;
  padding-bottom: 10px;
  transform: scale(1.1);
}

img.pngflag {
  width: 100px;
  height: 100px;
  margin: auto;
}
.bgimg {
  width: 100%;
  height: 700px;
  border: solid 1px;
  overflow: hidden;
}
/*------Heading and paragraph work-----*/
.headings {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  margin-bottom: -0.6em;
}
.para {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

/*----information session----*/
section.infocontainer {
  width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
div.infoleft,
div.inforight {
  width: 49%;
  margin-top: 10em;
}
img.filter:hover {
  filter: grayscale(80%);
  box-shadow: 5px 5px 10px darkgreen;
  color: burlywood;
  transform: scale(1.02);
}
img.filter {
  border-radius: 20px;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
div.inforight {
  padding: 1em;
}
a.infolink {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: brown;
  padding: 0.8em 9em;
  border-radius: 1em;
  margin-left: 7.5em;
  transition: 300ms;
}
a.infolink:hover {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 0.8em 9em;
  border-radius: 1em;
  margin-left: 7.5em;
  background-color: blueviolet;
  transform: scale(2);
}

/*-----Footer----*/
div.lastpart {
  width: 100%;
  height: 300px;
  background-color: darkslategray;
  position: absolute;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  background-color: white;
  padding: 10px;
  position: relative;
  float: left;
}

.logo1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  background-color: white;
  padding: 10px;
  position: relative;
}
.footer-content {
  bottom: 10%;
  float: left;
  width: 31%;
  margin: 1%;
}

.heading {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: 700;
}
.f12 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}
.fa {
  color: white;
  text-decoration: none;
  justify-content: center;
}

/*----Second Paga CSS----*/
.second-page {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
}
.iconimg {
  width: 50px;
  height: 50px;
}
.back-icon {
  text-decoration: none;
  background-color: white;
  margin-right: 550px;
  padding: 0.2em;
  justify-content: center;
  border-radius: 50%;
  float: left;
  transition: 300ms;
}
.back-icon:hover {
  text-decoration: none;
  background-color: rgb(238, 238, 8);
  margin-right: 550px;
  padding: 0.2em;
  justify-content: center;
  border-radius: 50%;
  float: left;
  transform: scale(0.9);
}
.second-header {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: xx-large;
  color: white;
}
/*-----Card container---*/
.container {
  display: flex;
}
.card {
  width: 33%;
  height: 250px;
  float: left;
  margin-top: 50px;
  padding: 1%;
  transition: 300ms;
}
.img-bdr {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 33px;
  box-shadow: 0 4px 12px black;
}
.card:hover {
  width: 33%;
  height: 250px;
  float: left;
  margin-top: 50px;
  padding: 1%;
  transform: scale(1.1);
}

/*----Sub types----*/
.sub-definition {
  padding: 1em;
  margin: 3em;
  text-align: start;
}
.sub-heading {
  font-size: 2em;
  font-weight: 1000;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.dfn {
  font-size: 1.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
  text-align: center;
}

/*-----Sub footer----*/
.sub-footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: fit-content;
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: auto;
}

/*------hover effects---*/
.filter :hover {
  filter: invert(60%);
}
/*----animation---*/
.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  padding-top: 1em;
  transition: transform 2s linear;
  transform: translateX(0);
  position: relative;
  text-decoration: none;
}
.box:hover {
  transform: translateX(200px);
  text-decoration: none;
  background-color: cadetblue;
}
h1.extra {
  font-size: 200px;
  text-align: center;
  color: blueviolet;
}

/*-------Closing paragraph-----*/
.closingh {
  width: 70%;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  padding: 0;
}
.closingp {
  width: 70%;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h4.lasth {
  width: fit-content;
  font-size: 2em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.3s ease;
}
h4.lasth:hover {
  width: fit-content;
  font-size: 2em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: yellow;
  color: red;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 15px;
  transition: all 2s;
}

.list {
  font-size: 30px;
  text-decoration: none;
  padding: 5px;
  color: rgb(0, 171, 171);
}

/*-----Table---*/
.table {
  height: 500px;
  padding: 5em;
}
.information {
  height: 500px;
  padding: 5em;
}

/*----Break doown 600px---*/

@media only screen and (max-width: 600px) {
  /* Navigation */
  .navigation a {
    font-size: 0.6em;
    width: 20%;
    text-align: center;
  }

  /* Main body */
  .topictext {
    font-size: 1em;
    display: none;
  }
  .message {
    width: 60%;
    right: 20%;
    font-size: 1.3em;
    height: fit-content;
  }
  .infocontainer {
    width: 90%;
  }
  .infocontainer .infoleft,
  .infocontainer .inforight {
    width: 100%;
  }
  .infolink {
    size: 5em;
  }
  .closingp,
  .closingh {
    font-size: 0.3em;
    width: 90%;
    height: auto;
    width: auto;
  }
  .table {
    font-size: 0.8em;
    padding: 2em;
  }
  h4.lasth {
    font-size: 1.2em;

    border-radius: 10px;
  }
  a.infolink {
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  .list {
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  footer {
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  .footer-content {
    width: 100%;
    text-align: center;
  }
  .logo,
  .logo1 {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  .heading {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .fa {
    margin: 5px;
  }
  div.lastpart {
    width: 100%;
    height: 600px;
    background-color: darkslategray;
    position: absolute;
    justify-content: center;
  }
}
/*----1100px---*/
@media only screen and (max-width: 1100px) {
  /* Navigation */
  .navigation a {
    font-size: 0.8em;
    width: 20%;
    text-align: center;
  }

  /* Main body */
  .topictext {
    font-size: 1em;
    display: none;
  }
  .message {
    width: 60%;
    right: 20%;
    font-size: 1.3em;
    height: fit-content;
  }
  .infocontainer {
    width: 90%;
  }
  .infocontainer .infoleft,
  .infocontainer .inforight {
    width: 100%;
  }
  .infolink {
    font-size: 1em;
  }
  .closingp,
  .closingh {
    font-size: 0.5em;
    width: 90%;
    height: auto;
    width: auto;
  }
  .table {
    font-size: 1em;
    padding: 2em;
  }
  h4.lasth {
    font-size: 1.2em;
    border-radius: 10px;
  }
  a.infolink {
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  .list {
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  footer {
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  .footer-content {
    width: 100%;
    text-align: center;
  }
  .logo,
  .logo1 {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  .heading {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .fa {
    margin: 5px;
  }
  div.lastpart {
    width: 100%;
    height: 600px;
    background-color: darkslategray;
    position: absolute;
    justify-content: center;
  }
}
/*-----1250px----*/
@media only screen and (max-width: 1250px) {
  /* Navigation */
  .navigation a {
    font-size: 0.8em;
    width: 20%;
    text-align: center;
  }

  /* Main body */
  .topictext {
    font-size: 1em;
    display: none;
  }
  .message {
    width: 60%;
    right: 20%;
    font-size: 1.3em;
    height: fit-content;
  }
  .infocontainer {
    width: 90%;
  }
  .infocontainer .infoleft,
  .infocontainer .inforight {
    width: 100%;
  }
  .infolink {
    font-size: 1.4em;
  }
  .closingp,
  .closingh {
    font-size: 0.8em;
    width: 90%;
    height: auto;
    width: auto;
  }
  .table {
    font-size: 1.3em;
    padding: 2em;
  }
  h4.lasth {
    font-size: 1.5em;
    border-radius: 10px;
  }
  a.infolink {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  .list {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  footer {
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  .footer-content {
    width: 100%;
    text-align: center;
  }
  .logo,
  .logo1 {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  .heading {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .fa {
    margin: 5px;
  }
  div.lastpart {
    width: 100%;
    height: 600px;
    background-color: darkslategray;
    position: absolute;
    justify-content: center;
  }
}
